* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #232424;
    color: white;
}

.container {
    margin: 10%;
    width: 90%;
    max-width: 700px;
}

.display {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: white;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 13px;
    border-radius: 8px;
}

.container h1 {
    font-weight: 450;
    font-size: 40px;
}

.container h1 span {
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 12px;
    font-weight: 700;
}

.display img {
    width: 30px;
    cursor: pointer;
}

.display input {
    border: 0;
    outline: 0;
    width: 100%;
    font-size: 24px;
}

.container img {
    width: 28px;
    margin-right: 10px;
    filter: brightness(0) invert(1);
}

.btn {
    display: flex;
    justify-content: space-around;
}

.btn button {
    border: 0;
    outline: 0;
    background-color: #019f55;
    font-size: 20px;
    font-weight: 300;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
}

.btn button:hover {
    background-color: #09be6a;
}

lord-icon {
    height: 40px;
    margin-right: 7px;
    cursor: pointer;
}